# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
*.iml
*.gradle
application/local.properties
application/.idea/workspace.xml
application/.idea/libraries
application/.DS_Store
application/build
application/captures

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/server/serveur-its.iml
